<h1 class="ms-2 mt-2">Creation Tester</h1>

<h2 class="mt-4 ms-2">Prompt API</h2>

<div class="card">
  <div class="card-body">
    <h3>Creation</h3>

    @if(this.promptError) {
      <div class="alert alert-danger">{{ this.promptError }}</div>
    }

    <div class="">
      <div>Status:</div>
      <span
        class="badge text-bg-secondary"
        [class.text-bg-secondary]="this.promptCreationSuccess === undefined"
        [class.text-bg-danger]="this.promptCreationSuccess === false"
        [class.text-bg-success]="this.promptCreationSuccess === true">{{ this.promptCreationSuccess }}</span>
    </div>

    <div class="d-grid mt-5">
      <button class="btn btn-primary" (click)="createPrompt()">Create</button>
    </div>
  </div>
</div>

<hr>

<h2 class="mt-4 ms-2">Proofreader</h2>

<div class="card">
  <div class="card-body">
    <h3>Creation</h3>

    @if(this.proofreaderError) {
      <div class="alert alert-danger">{{ this.proofreaderError }}</div>
    }

    <div class="">
      <div>Status:</div>
      <span
        class="badge text-bg-secondary"
        [class.text-bg-secondary]="this.proofreaderCreationSuccess === undefined"
        [class.text-bg-danger]="this.proofreaderCreationSuccess === false"
        [class.text-bg-success]="this.proofreaderCreationSuccess === true">{{ this.proofreaderCreationSuccess }}</span>
    </div>

    <div class="d-grid mt-5">
      <button class="btn btn-primary" (click)="createProofreader()">Create</button>
    </div>
  </div>
</div>


<hr>

<h2 class="mt-4 ms-2">Rewriter</h2>

<div class="card">
  <div class="card-body">
    <h3>Creation</h3>

    @if(this.rewriterError) {
      <div class="alert alert-danger">{{ this.rewriterError }}</div>
    }

    <div class="">
      <div>Status:</div>
      <span
        class="badge text-bg-secondary"
        [class.text-bg-secondary]="this.rewriterCreationSuccess === undefined"
        [class.text-bg-danger]="this.rewriterCreationSuccess === false"
        [class.text-bg-success]="this.rewriterCreationSuccess === true">{{ this.rewriterCreationSuccess }}</span>
    </div>

    <div class="d-grid mt-5">
      <button class="btn btn-primary" (click)="createRewriter()">Create</button>
    </div>
  </div>
</div>

<hr>

<h2 class="mt-4 ms-2">Summarizer</h2>

<div class="card">
  <div class="card-body">
    <h3>Creation</h3>

    @if(this.summarizerError) {
      <div class="alert alert-danger">{{ this.summarizerError }}</div>
    }

    <div class="">
      <div>Status:</div>
      <span
        class="badge text-bg-secondary"
        [class.text-bg-secondary]="this.summarizerCreationSuccess === undefined"
        [class.text-bg-danger]="this.summarizerCreationSuccess === false"
        [class.text-bg-success]="this.summarizerCreationSuccess === true">{{ this.summarizerCreationSuccess }}</span>
    </div>

    <div class="d-grid mt-5">
      <button class="btn btn-primary" (click)="createSummarizer()">Create</button>
    </div>
  </div>
</div>



<hr>

<h2 class="mt-4 ms-2">Writer</h2>

<div class="card">
  <div class="card-body">
    <h3>Creation</h3>

    @if(this.writerError) {
      <div class="alert alert-danger">{{ this.writerError }}</div>
    }

    <div class="">
      <div>Status:</div>
      <span
        class="badge text-bg-secondary"
        [class.text-bg-secondary]="this.writerCreationSuccess === undefined"
        [class.text-bg-danger]="this.writerCreationSuccess === false"
        [class.text-bg-success]="this.writerCreationSuccess === true">{{ this.writerCreationSuccess }}</span>
    </div>

    <div class="d-grid mt-5">
      <button class="btn btn-primary" (click)="createWriter()">Create</button>
    </div>
  </div>
</div>

