<div class="modal-header">
  <h3 class="fs-3"><i class="bi bi-share"></i> <span class="ms-3">Share anonymous usage analytics data</span></h3>
</div>
<div class="modal-body">
  <h6>Consent to share anonymous usage data</h6>

  <p>To improve this site, please enable the anonymous usage analytics data. <strong>By default, no data is
    captured.</strong></p>

  <p>No personally identifiable information is captured.</p>

  <h6>What type of data is captured?</h6>

  <ul>
    <li>Browser version (ex: Chrome Canary 135.0.7017.0)</li>
    <li>Your prompt Prompt input and output</li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="consent()">I consent</button>
  <button class="btn btn-link" (click)="doNotConsent()">Don't share</button>
</div>

