@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


.sidebar {
  background-color: var(--bs-secondary-bg);
  height: 100vh;
  margin: 0;
  width: 420px;

  &.sidebar-collapsed {
    width: 75px;

    .title {
      display: none;
    }

    nav {
      ul {
        li {
          text-align: center;

          &.navigation-category {
            margin-left: 0;
            margin-top: 30px;
            padding:0;
            &>i {
              display: none;
            }
          }

          span {
            display: none;
          }
        }
      }
    }

    header {
      margin-left: 0;
      margin-right: 0 !important;
      flex-direction: column;
    }
  }

  header {
    margin-left: 25px;
    margin-right: .5rem !important;

    flex-direction: row;

    .title {
      font-weight: bold;
      margin: 0;
    }
  }

  nav {
    height: 80vh;
    overflow: auto;

    ul {
      li {
        &.navigation-category {
          font-weight: bold;
          margin-top: 10px;
          margin-left: 15px;
          margin-bottom: 10px;
          padding: 5px;

          i {
            margin-right: 10px;
          }
        }

        &.navigation-item {
          &.active {
            background-color: var(--bs-primary-bg-subtle);
          }

          &:hover {
            background-color: var(--bs-dark-bg-subtle);
          }

          a {
            display: block;
            text-align: left;
          }

          span {
            margin-left: 0.5rem;
          }


          border-radius: 10px;
          margin-top: 10px;
          padding: 5px;
          transform: rotate(0);
        }
      }
    }
  }



  .btn-sidebar {
    background-color: var(--bs-secondary-bg);

    &:hover {
      background-color: var(--bs-dark-bg-subtle);
    }
  }
}
