<app-page-title [title]="'Summarizer Batch'" [icon]="'bi-journal-text'"></app-page-title>
<div class="container mt-4">
  <form [formGroup]="batchForm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 25%;">Input</th>
          <th scope="col" style="width: 25%;">Output</th>
          <th scope="col" style="width: 25%;">Status</th>
          <th scope="col" style="width: 25%;">Actions</th>
        </tr>
      </thead>
      <tbody formArrayName="inputs">
        <tr *ngFor="let row of rowControls; let i = index">
          <td>
            <textarea class="form-control" rows="3" [formControl]="getTextControl(i)" (paste)="onPaste($event, i)"></textarea>
          </td>
          <td>
            <textarea class="form-control" rows="3" disabled placeholder="Output will appear here"></textarea>
          </td>
          <td>
            <span class="badge"
                  [class.text-bg-secondary]="getStatusValue(i) === StoredTaskStatus.Idle"
                  [class.text-bg-primary]="getStatusValue(i) === StoredTaskStatus.Executing"
                  [class.text-bg-success]="getStatusValue(i) === StoredTaskStatus.Completed"
                  [class.text-bg-danger]="getStatusValue(i) === StoredTaskStatus.Error"
            >{{ getStatusValue(i) }}</span>
          </td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteRow(i)">Delete Row</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-3">
      <button type="button" class="btn btn-primary" (click)="addRow()">Add Row</button>
    </div>
  </form>
</div>
